{% load static %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="row g-5 align-items-center">
        <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">Nossos principais pontos de coletas</p>
          <h1 class="mb-4">Vamos Juntos Criar um Futuro Mais Verde? Seja um parte da mudança. Nossos principais pontos perto de você.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.5s">
          <iframe
            src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1744991335046!5m2!1spt-BR!2sbr!6m8!1m7!1siIAsu2U0pyqs7MZpzMCOcg!2m2!1d-8.050100676507434!2d-34.93238675450112!3f44.645084!4f0!5f0.7820865974627469"
            width="100%"
            height="300"
            style="border:0; border-radius: 12px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">Cordeiro</p>
          <p class="ms-4">80 R. Rio Capibaribe</p>
          <p class="ms-4">Recife, Pernambuco</p>
        </div>
      </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">Boa Viagem</p>
          <p class="ms-4">198 R. Dona Magina Pontual</p>
          <p class="ms-4">Recife, Pernambuco</p>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <iframe
            src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1744991335046!5m2!1spt-BR!2sbr!6m8!1m7!1siIAsu2U0pyqs7MZpzMCOcg!2m2!1d-8.050100676507434!2d-34.93238675450112!3f44.645084!4f0!5f0.7820865974627469"
            width="100%"
            height="300"
            style="border:0; border-radius: 12px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeInDown" data-wow-delay="0.5s">
            <iframe
            src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1744991335046!5m2!1spt-BR!2sbr!6m8!1m7!1siIAsu2U0pyqs7MZpzMCOcg!2m2!1d-8.050100676507434!2d-34.93238675450112!3f44.645084!4f0!5f0.7820865974627469"
            width="100%"
            height="300"
            style="border:0; border-radius: 12px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title bg-white text-start text-primary pe-3">Jaboatão dos Guararapes</p>
            <p class="ms-4">183 R. Santa Cruz Do Capibaribe</p>
            <p class="ms-4">Jaboatão dos Guararapes, Pernambuco</p>
        </div>
      </div>
  </div>
</div>

<div class="bg-primary text-white py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0 wow fadeInLeft" data-wow-delay="0.2s">
        <h3 class="text-white">Siga a <strong>Recicle Mais</strong> nas redes sociais<br>e faça parte da mudança!</h3>
      </div>
      <div class="col-md-6 text-md-end text-center wow fadeInRight" data-wow-delay="0.3s">
        <a href="{% url 'page:investidor' %}" class="btn btn-outline-light rounded-pill py-3 px-5 mt-3 me-3">Seja Investidor</a>
        <a href="#" class="btn btn-secondary rounded-pill py-3 px-5 mt-3" data-bs-toggle="modal" data-bs-target="#modalLogin">Seja Parceiro de Coleta</a>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 wow fadeInUp" data-wow-delay="0.4s">
  <div class="container text-center">
    <h3 class="text-primary">Pronto para transformar o mundo com a gente?</h3>
  </div>
</div>
