{% load static %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="row g-5 align-items-center">
        <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">Nossos principais pontos de coletas</p>
          <h1 class="mb-4">Vamos Juntos Criar um Futuro Mais Verde? Seja um parte da mudança. Nossos principais pontos perto de você.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.5s">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d505654.6140085415!2d-35.5452672!3d-8.0578859!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab194447fa10a9%3A0x267d962fdb6bff59!2zRWNvZXN0YcOnw6NvIC0gVG9ycsO1ZXM!5e0!3m2!1spt-BR!2sbr!4v1745534880985!5m2!1spt-BR!2sbr"
            width="100%"
            height="450"
            style="border:0; border-radius: 12px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">Ecoestação</p>
          <p class="ms-4">1091, R. Maestro Jones Johnsson, 1001</p>
          <p class="ms-4">Torrões, Recife - PE</p>
        </div>
      </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">EcoNúcleo Dois Unidos</p>
          <p class="ms-4">R. da Mata, 499</p>
          <p class="ms-4">Dois Unidos, Recife - PE</p>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.0253863248627!2d-34.915628399999996!3d-7.9963150999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab17001c37d801%3A0xe8191dcd9663d47a!2sEcoN%C3%BAcleo%20Dois%20Unidos!5e0!3m2!1spt-BR!2sbr!4v1745534929569!5m2!1spt-BR!2sbr"
            width="100%"
            height="450"
            style="border:0; border-radius: 12px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
  </div>
</div>

<div class="bg-primary text-white py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0 wow fadeInLeft" data-wow-delay="0.2s">
        <h3 class="text-white">Siga a <strong>Recicle Mais</strong> nas redes sociais<br>e faça parte da mudança!</h3>
      </div>
      <div class="col-md-6 text-md-end text-center wow fadeInRight" data-wow-delay="0.3s">
        <a href="{% url 'page:investidor' %}" class="btn btn-outline-light rounded-pill py-3 px-5 mt-3 me-3">Seja Investidor</a>
        <a href="#" class="btn btn-secondary rounded-pill py-3 px-5 mt-3" data-bs-toggle="modal" data-bs-target="#modalLogin">Seja Parceiro de Coleta</a>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 wow fadeInUp" data-wow-delay="0.4s">
  <div class="container text-center">
    <h3 class="text-primary">Pronto para transformar o mundo com a gente?</h3>
  </div>
</div>
