{% load static %}


<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.5s">
              <img src="https://static.wixstatic.com/media/1d419d_99e18fdb528c4272b392f87b32dbeaf1~mv2.png/v1/fill/w_1080,h_663,al_c,q_90,enc_avif,quality_auto/1d419d_99e18fdb528c4272b392f87b32dbeaf1~mv2.png" class="img-fluid w-100" style="max-width: 500px;">
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title bg-white text-start text-primary pe-3">Com você!</p>
            <h1 class="mb-4">Vamos Juntos Criar um Futuro Mais Verde?</h1>
            <p class="mb-4">Seja um parte da mudança. Baixe o app, cadastre-se agora e comece a fazer a diferença no planeta. Ou, se você quiser ir além, invista ou se torne um parceiro de coleta da Recicle Mais.</p>
            <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Baixa o APP</a>
        </div>
      </div>
  </div>
</div>

<div class="bg-primary text-white py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0 wow fadeInLeft" data-wow-delay="0.2s">
        <h3 class="text-white">Siga a <strong>Recicle Mais</strong> nas redes sociais<br>e faça parte da mudança!</h3>
      </div>
      <div class="col-md-6 text-md-end text-center wow fadeInRight" data-wow-delay="0.3s">
        <a href="#" class="btn btn-outline-light rounded-pill py-3 px-5 mt-3 me-3">Seja Investidor</a>
        <a href="#" class="btn btn-secondary rounded-pill py-3 px-5 mt-3">Seja Parceiro de Coleta</a>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 wow fadeInUp" data-wow-delay="0.4s">
  <div class="container text-center">
    <h3 class="text-primary">Pronto para transformar o mundo com a gente?</h3>
  </div>
</div>
