{% load static %}

<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <p class="section-title bg-white text-center text-primary px-3">de forma prática e eficiente</p>
          <h1 class="mb-5">Como Funciona?</h1>
          <p class="mb-4">Com a Recicle Mais, reciclar nunca foi tão fácil! Nosso sistema conecta você a pontos de coleta próximos, incentiva boas práticas e ainda oferece recompensas por suas ações sustentáveis.</p>
      </div>
      <div class="row gy-5 gx-4">
          <div class="col-lg-3 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item d-flex h-100">
                  <div class="service-img">
                  </div>
                  <div class="service-text p-5 pt-0 d-flex flex-column justify-content-between">
                      <div class="service-icon d-flex align-items-center justify-content-center rounded-circle bg-white shadow-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-download text-primary fs-2"></i>
                      </div>
                      <h5 class="mb-3">Nosso sitema Recicle Mais</h4>
                      <p class="mb-4">Disponível para para todas as plataformas, nosso sitema facilita sua jornada na reciclagem.</p>
                      <span class="btn btn-square rounded-circle"><i class="bi bi-chevron-double-right"></i></span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item d-flex h-100">
                  <div class="service-img">
                  </div>
                  <div class="service-text p-5 pt-0 d-flex flex-column justify-content-between">
                      <div class="service-icon d-flex align-items-center justify-content-center rounded-circle bg-white shadow-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-geo-alt text-success fs-2"></i>
                      </div>
                      <h5 class="mb-3">Encontre pontos de coleta próximos</h5>
                      <p class="mb-4">Use o mapa interativo para localizar locais de descarte sustentável perto de você.</p>
                      <span class="btn btn-square rounded-circle"><i class="bi bi-chevron-double-right"></i></span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item d-flex h-100">
                  <div class="service-img">
                  </div>
                  <div class="service-text p-5 pt-0 d-flex flex-column justify-content-between">
                      <div class="service-icon d-flex align-items-center justify-content-center rounded-circle bg-white shadow-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-gift text-warning fs-2"></i>
                      </div>
                      <h5 class="mb-3">Ganhe recompensas por reciclar</h5>
                      <p class="mb-4">Acumule pontos e troque por benefícios exclusivos ao contribuir com o meio ambiente.</p>
                      <span class="btn btn-square rounded-circle"><i class="bi bi-chevron-double-right"></i></span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item d-flex h-100">
                <div class="service-img">
                </div>
                <div class="service-text p-5 pt-0 d-flex flex-column justify-content-between">
                    <div class="service-icon d-flex align-items-center justify-content-center rounded-circle bg-white shadow-4" style="width: 80px; height: 80px;">
                      <i class="bi bi-bar-chart-line text-info fs-2"></i>
                    </div>
                    <h5 class="mb-3">Acompanhe seu impacto no meio ambiente</h5>
                    <p class="mb-4">Veja estatísticas sobre sua reciclagem e inspire-se para continuar fazendo a diferença!</p>
                    <span class="btn btn-square rounded-circle"><i class="bi bi-chevron-double-right"></i></span>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>