{% load static %}

<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <p class="section-title bg-white text-start text-primary pe-3">Nossas Comquistas</p>
              <h1 class="mb-4">Impacto ambiental positivo através da inovação e tecnologia</h1>
              <p class="mb-4">Desde a nossa fundação, trabalhamos para tornar a reciclagem mais acessível, eficiente e inteligente.
                Com soluções tecnológicas e parcerias estratégicas, já impactamos milhares de pessoas e empresas em todo o país.
              </p>
              <p><i class="fa fa-check text-primary me-3"></i>Mais de 8 mil toneladas de resíduos reciclados com rastreabilidade</p>
              <p><i class="fa fa-check text-primary me-3"></i>Redução de mais de 14 mil toneladas de CO₂ na atmosfera</p>
              <p><i class="fa fa-check text-primary me-3"></i>Parcerias com mais de 1.500 empresas e 300 pontos de coleta ativos</p>
          </div>
          <div class="col-lg-6">
              <div class="rounded overflow-hidden">
                  <div class="row g-0">
                      <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                          <div class="text-center bg-primary py-5 px-4">
                              <img class="img-fluid mb-4" src="img/experience.png" alt="">
                              <h1 class="display-6 text-white" data-toggle="counter-up">8.250</h1>
                              <span class="fs-5 fw-semi-bold text-secondary">Toneladas recicladas!</span>
                          </div>
                      </div>
                      <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                          <div class="text-center bg-secondary py-5 px-4">
                              <img class="img-fluid mb-4" src="img/award.png" alt="">
                              <h1 class="display-6" data-toggle="counter-up">14.800</h1>
                              <span class="fs-5 fw-semi-bold text-primary">Toneladas de CO₂ evitadas.</span>
                          </div>
                      </div>
                      <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                          <div class="text-center bg-secondary py-5 px-4">
                              <img class="img-fluid mb-4" src="img/animal.png" alt="">
                              <h1 class="display-6" data-toggle="counter-up">122</h1>
                              <span class="fs-5 fw-semi-bold text-primary">Clientes ativos</span>
                          </div>
                      </div>
                      <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                          <div class="text-center bg-primary py-5 px-4">
                              <img class="img-fluid mb-4" src="img/client.png" alt="">
                              <h1 class="display-6 text-white" data-toggle="counter-up">320</h1>
                              <span class="fs-5 fw-semi-bold text-secondary">Pontos de coleta</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>