{% load static %}

<div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="https://cdn.pixabay.com/photo/2020/04/28/05/57/tree-5102896_1280.jpg">
  <div class="container py-5">
      <div class="row g-5">
          <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
              <div class="row g-4 align-items-center">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-9">
                      <p class="section-por-que bg-white text-primary p-2 px-3 rounded-2">Por que escolher a Recicle Mais?</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <p class="section-title bg-white text-center text-primary px-3">Etapas do Impacto</p>
        <h4 class="mb-4">Como a Recicle Mais transforma o seu ato em mudança real</h4>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="text-center bg-light p-4 rounded h-100 shadow-sm">
            <div class="mb-3">
              <i class="bi bi-globe2 text-success fs-1"></i>
            </div>
            <h5 class="fw-bold">Impacto ambiental positivo</h5>
            <p class="mb-0">Reduza a poluição e ajude o planeta com atitudes sustentáveis.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="text-center bg-light p-4 rounded h-100 shadow-sm">
            <div class="mb-3">
              <i class="bi bi-cash text-success fs-1"></i>
            </div>
            <h5 class="fw-bold">Economia e recompensas</h5>
            <p class="mb-0">Receba incentivos por contribuir com a reciclagem.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="text-center bg-light p-4 rounded h-100 shadow-sm">
            <div class="mb-3">
              <i class="bi bi-phone text-success fs-1"></i>
            </div>
            <h5 class="fw-bold">Tecnologia inovadora</h5>
            <p class="mb-0">Nosso sistema completo e intuitivo, perfeito para você.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="text-center bg-light p-4 rounded h-100 shadow-sm">
            <div class="mb-3">
              <i class="bi bi-book text-success fs-1"></i>
            </div>
            <h5 class="fw-bold">Educação ambiental</h5>
            <p class="mb-0">Aprenda e compartilhe práticas de reciclagem consciente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>