{% load static %}

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">

      <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
        <p class="section-title bg-white text-start text-primary pe-3">Por que investir?</p>
        <h1 class="mb-4">Transforme seu investimento em impacto real</h1>
        <p class="fs-5 mb-4">
          A <strong>RecicleMais</strong> está revolucionando o processo de reciclagem, e você pode fazer parte dessa mudança! Ao se tornar um investidor, você apoia soluções tecnológicas inovadoras e contribui diretamente para a construção de um futuro mais verde e consciente.
        </p>
        <ul class="list-unstyled">
          <li class="mb-3"><i class="fa fa-check text-success me-2"></i><strong>Impacto ambiental positivo:</strong> ajude a reduzir o desperdício e aumentar a conscientização sobre a reciclagem.</li>
          <li class="mb-3"><i class="fa fa-check text-success me-2"></i><strong>Tecnologia inovadora:</strong> invista em um app com potencial de transformar a forma como reciclamos.</li>
          <li><i class="fa fa-check text-success me-2"></i><strong>Crescimento sustentável:</strong> participe de um modelo de negócios que promove a economia circular e práticas responsáveis.</li>
        </ul>
      </div>

      <div class="col-lg-6 wow fadeInRight text-center" data-wow-delay="0.3s">
        <img src="{% static 'image/nature.png' %}" alt="Investimento Sustentável" class="img-fluid" style="max-width: 480px;">
      </div>
    </div>
  </div>
</div>
