{% load static %}

<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-4">Vamos Juntos Criar um Futuro Mais Verde?</h1>
          <p class="mb-4">​A Recicle Mais nasceu com a missão de revolucionar a forma como lidamos com a reciclagem, oferecendo uma solução prática e inteligente para facilitar o processo de descarte de resíduos e, ao mesmo tempo, conscientizar a sociedade sobre a importância da sustentabilidade. A ideia surgiu a partir da percepção de que, mesmo com o aumento da preocupação ambiental, a reciclagem ainda é um processo mal compreendido e mal executado por muitos.</p>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.5s">
          <video
            src="{% static 'image/video/1.mp4' %}"
            autoplay
            muted
            loop
            playsinline
            class="w-100 rounded">
          </video>
        </div>
      </div>
  </div>
</div>
