{% load static %}

<div class="container-xxl py-5">
  <div class="container">
      <div class="row text-center mb-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
          <p class="section-title bg-white text-start text-primary pe-3">Nossa Equipe</p>
          <h1 class="mb-4">​A Recicle Mais é movida por um time de profissionais apaixonados por inovação e impacto ambiental.</h1>
          <p>Combinamos tecnologia, estratégia e consciência ecológica para transformar a reciclagem em uma experiência acessível e recompensadora. Conheça as mentes por trás dessa revolução sustentável!</p>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Heloine_lopes_Gerente.png' %}" alt="">
                <h5>Heloine Lopes</h5>
                <p class="text-primary">Gerente</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Pollyana_scrum_master.png' %}" alt="">
                <h5>Pollyana</h5>
                <p class="text-primary">Scrum Master</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Daniel_Alves_desenvolvedor.png' %}" alt="">
                <h5>Daniel Alves</h5>
                <p class="text-primary">Desenvolvedor</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Bruno_desenvolvedor.png' %}" alt="">
                <h5>Bruno</h5>
                <p class="text-primary">Desenvolvedor</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Carolina_Evelem_desenvolvedora.png' %}" alt="">
                <h5>Carolina Evelem</h5>
                <p class="text-primary">Desenvolvedora</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Pedro_Viana_analista_de_requisitos.png' %}" alt="">
                <h5>Pedro Viana</h5>
                <p class="text-primary">Analista de Requisitos</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Caetano_QA.png' %}" alt="">
                <h5>Caetano</h5>
                <p class="text-primary">QA</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded p-4">
                <img class="img-fluid rounded mb-4" src="{% static 'image/colaboradores/Murillo_Cavalcanti_QA.png' %}" alt="">
                <h5>Murillo Cavalcanti</h5>
                <p class="text-primary">QA</p>
            </div>
        </div>
      </div>
  </div>
</div>